.benefits {
    min-height: 475px;
    background-color: #ffffff;
    padding: 73px 0 65px 0;
    text-align: center;
    font-weight: 700;

    &__header {
        font-size: 30px;
        color: #0D0D0D;
        line-height: 30px;
    }

    &__wrapper {
        display: flex;
        margin-top: 60px;
        justify-content: space-between;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 277px;

        img {
            max-width: 70px;
            max-height: 70px;
        }
    }

    &__subheader1 {
        font-size: 18px;
        color: #0D0D0D;
        margin-top: 36px;
        font-weight: 700;
    }

    &__subheader2 {
        font-size: 14px;
        margin-top: 20px;
        color: #0D0D0D;

        a {
            color: #FF0000;
            text-decoration: underline;
        }
    }

}